:root {
  --mobile: 360px;
  --tablet: 768px;
  --desktop: 1280px;

  --body-bg: #181818;
  --hero-bg: #dc3b5a;
  --txt: #ffffff;
  --txt-black: #1e1e1e;
  --accent: #dc3b5a;
  --err: #dc3b5a;

  --btn-hero-bg: #1e1e1e1a;
  --btn-mint-bg: #dc3b5a;
  --hover-menu: #dc3b5a;
  --hover-hero: #ffffff;
  --hover-mint: #1e1e1e;

  --transition: 0.25s;

  --font-txt: 'MessinaSans';
  --font-title: 'Right Grotesk';
  --font-decor: 'Biro Script Plus';
}
