@import './styles/reset.css';
@import './styles//vars.css';
@import './assets/fonts/fonts.css';

body {
  font-family: MessinaSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--txt);
  background-color: var(--body-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
